@font-face {
    font-family: pixel;
    src: url(QuestioraRegular-Wpa9G.ttf);
}

.profilemiddle {
    position:absolute;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
}

.mainpic{
    height: 250px;
    border-radius: 40px;
    transition: transform 0.6s ease;
    margin: 0;
}

.mainpic:hover{
    transform: scale(1.04);
}

.ixia{
   display: flex;
   justify-content: center;
   align-items: center;
   margin: 0;
   font-family: 'Courier New', Courier, monospace;
   color:white;
   font-size: 50px;
}

h3{
    margin: 0;
    color: rgb(199, 199, 199);
    font-family: 'Courier New', Courier, monospace;
}

.jarr{
    text-align: center;
}

.jarr a{
    text-decoration: none;
    color: inherit;
    display: inline-block;
    transition: color 0.3s ease, transform 0.3s ease;
}
/* hover unter visited für mehr priorität*/
.jarr a:visited {
    color: inherit;
}

.jarr a:hover{
    color: white;
    transform: translateY(-5px);
}

h1 {
    color: white;
    font-family: pixel;
}

.sieben{
   display: flex;
   justify-content: center;
   align-items: center;
}

.one{
    color: rgb(207, 207, 207);
    font-family: pixel;
    margin: 0;
}

.bro{
    display: grid;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.two{
    text-decoration: none;
    color: inherit;
    display: inline-block;
}